.chat {
  width: 1000px;
  height: 700px;
}
.message{
  width: 900px;
  margin: 20px auto;
}
.chat-block{
  width: 892px;
  height: 560px;
  border: rgb(114, 192, 197) 4px solid;
  margin: 20px auto;
}
.client-message {
  margin: 5px;
  width: 250px;
  margin-left: 55%;
  padding: 15px;
  text-align: center;
  border: rgb(114, 192, 197) solid 4px;
  border-radius: 20px;
  font-size: 20px;
}
.server-message {
  margin: 5px;
  width: 250px;
  padding: 15px;
  text-align: center;
  border: rgb(114, 192, 197) solid 4px;
    border-radius: 20px;
    font-size: 20px;
}
#message {
  width: 400px;
  height: 45px;
  font-size: 20px;
  font-weight: 600;
  border: rgb(114, 192, 197) 4px solid;
}
#message:focus {
  outline: rgb(58, 60, 61) 1px solid;
  border: rgb(114, 192, 197) 4px solid;
}
.btn {
  margin-left: 40px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(57, 54, 54);
  background-color: rgb(114, 192, 197);
  border: none;
}